/*==================================
    PAGE
==================================*/

body{

    margin:0;

}

.stars{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    pointer-events:none;

    z-index:1;

}



/*==================================
    MAIN CARD
==================================*/

.card{

    position:relative;

    z-index:2;

    width:700px;

    margin:50px auto;

    min-height:1000px;

    overflow:hidden;

}

.card-section{

    padding:60px 50px;

    text-align:center;

}



/*==================================
    HEADER
==================================*/

.card-header{

    padding-top:40px;

}

.title-wrap{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:15px;

    margin-bottom:18px;

}



/*==================================
    DELIVERY
==================================*/

.delivery{

    text-align:center;

    padding:40px 30px;

}



/*==================================
    CONSTELLATION
==================================*/

.constellation-box{

    position:relative;

    width:300px;

    margin:20px auto;

}

#flavorChart{

    margin-top:30px;

}

#starChart{

    display:block;

    margin-top:20px;

}



/*==================================
    CONTENT
==================================*/

#masterComment{

    max-width:420px;

    margin:0 auto;

}



/*==================================
    FOOTER
==================================*/

/*（今はまだ空）*/