/*==================================
    RESET
==================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    scroll-behavior: smooth;

}

body {

    min-height: 100vh;

    overflow-x: hidden;

}

img {

    display: block;

    max-width: 100%;

}

canvas {

    display: block;

}

button {

    font: inherit;

    border: none;

    background: none;

    cursor: pointer;

}