/*==================================
    HEADER
==================================*/

h1{

}

h2{

}



/*==================================
    DELIVERY
==================================*/

.coffee-name{

}

.coffee-subtitle{

}

.arrival{

}



/*==================================
    CONSTELLATION
==================================*/

#constellationName{

    font-size:24px;

    letter-spacing:3px;

    color:#8b5e3c;

}

#constellationText{

    white-space:pre-line;

    line-height:2;

    font-size:14px;

    color:#6d5a45;

}



/*==================================
    CONTENT
==================================*/

#masterComment{

    text-align:left;

    white-space:pre-line;

    line-height:2;

    font-size:16px;

}



/*==================================
    FOOTER
==================================*/

#serialNumber{

}

.arrival {


    font-size: 14px;

    letter-spacing: 4px;

    color: #8b7658;
}